.author-badge {
	padding: $main-pad 0;
	&>* {
		display: inline-block;
	}

	&__img {
		width: 50px;
		height: 50px;
		border: 2px solid $yellow;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		vertical-align: middle;	
	}
	&__name {
		margin-left: $main-pad /2;
			vertical-align: middle;	
		a {
			@include link-color($black, $orange);
		}
	}
}