.header__clndr {
	.clndr { 
		&__table {
			width: 100%;
			@include cl;	
		}

		.adjacent-month {
			color: #aaa;
		}

		&__month {
			text-transform: uppercase;
			font-weight: 600;
			text-align: center;
			user-select: none;
			cursor: pointer;
		}

		&__controls {
			@include cl;

			& > div {
				cursor: pointer;
				width: 30%;
				margin: 0 10% 0;
				float: left;
				text-align: center;
				user-select: none;
				line-height: 50px;

				&:hover {
					color: $orange;
				}
				&:active {
					color: $yellow;
					position: relative;
					top: 1px;

				}
			}
		}

		&__day {
			position: relative;
			width: 14.2857143%;
			padding-top: 14.2857143%;
			text-align: center;
			float: left;
			font-size: .8em;
			font-weight: 200;
			background: $white;
			@include transition-aprel(background .8s, color .8s);

			&__num {
				@include absolute-center;
				width: 16px;
				height: 12px;
				font-size: 13px;
				line-height: 14px;
				margin: auto;
				z-index: 2;

			}
		}

		.today {			
			color: $orange;
			&::after {
				border: 2px solid $orange;
				content: '';
				width: 100%;
				height: 100%;
				@include absolute-center;
				background: transparent;
				border-radius: 50%;
				z-index: 0;
			}
		}


		// класс модификатор для контейнера
		.event {
			color: $white;
			cursor: pointer;

			&::before {
				content: '';
				width: calc(100% - 3px);
				height: calc(100% - 3px);
				@include absolute-center;
				background: $black;
				border-radius: 50%;
				z-index: 1;
			}
		} 

		.today.event {	
			&::after {
				display: none;
			}
			&::before {
				background: $orange;
			}
		}

		// Cамо событие
		&__event {
			&:not(:first-child) {
				border-top: 1px solid darken($orange, 20%);
			}

			&__time {

			}

			&__title {
				line-height: 13px;
				a {					
					font-weight: 400;
					@include link-color ($white, $white); 
					text-overflow: ellipsis;
				}
			}
		}

		&__event__conainer {	
			position: absolute;
			bottom: 125%;
			left: 50%;	
			width: 150px;
			background: $orange;
			color: $white;
			font-weight: 200;	
			//max-height: 0;
			z-index: 3;
			padding: 5px;
			text-align: left;
			display: none;

			&::after  {
				content: '';
				position: absolute;
				display: block;
				top: 100%;
				left: 0;
				width: 0;
				height: 0;
				border-width: 4px;
				border-style: solid;
				border-top-color: $orange;
				border-left-color: $orange;
				border-bottom-color: transparent;
				border-right-color: transparent;
			}
			&::before  {
				content: '';
				position: absolute;
				display: block;
				top: 100%;
				left: 0;
				width: 0;
				height: 0;
				border-width: 5px;
				border-style: solid;
				border-top-color: $white;
				border-left-color: $white;
				border-bottom-color: transparent;
				border-right-color: transparent;
				opacity: .5;
			}
		}
	}

	.event_active .clndr__event__conainer {
		max-height: auto;
		display: block;				
	}
}

.clndr-full {
	.clndr {
		&__controls {
			@include cl;
			
			.clndr-previous-button,
			.clndr-next-button {
				color: $white;
				margin-right: $main-pad;
				background: $black;
				border-radius: 50%;
				cursor: pointer;
				@include transition-aprel(background .2s ease);
				width: $main-pad *2;
				height: $main-pad *2;
				text-align: center;
				line-height: $main-pad *2;
				font-size: 34px;

				&:hover {
					background: $orange;
				}
			}

			&__calendar,
			&__grid {
				margin-left: 7px;
				text-align: center;
				cursor: pointer;
				@include transition-aprel(color .2s ease);
				&:hover,
				&.active {
					color: $orange;
				}

				span {
					width: $main-pad *2;
					height: $main-pad *2;
					line-height: $main-pad *2;
					font-size: $main-pad *2;
				}
			}
			&__grid {
				span {
					position: relative;
					top: 2px;
				}
			}
		}

		&__month {
			margin-bottom: $main-pad;
			text-transform: uppercase;
			height: auto;
			border-bottom: 1px solid $black;
		}

		&__full__grid {
			overflow: hidden;
			position: relative;
			max-height: 0;
			.events_grid_active & {
				max-height: 3000px;
				min-height: 200px;
			}
		}

		&__table {
			width: 100%;
			max-height: 3000px;
			overflow: hidden;
			@include cl;

			.events_grid_active & {
				max-height: 0;
			}

			&__head {
				&__day {
					text-align: center;
					border: none !important;
					background: $yellow;
					height: auto !important;
					font-weight: 600;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					
				}
			}

			&__body {
				@include cl;
				border: 1px solid $lgrey;
			}			
		}

		&__day {
			width: 14.2857143%;
			float: left;
			height:150px;
			border: 1px solid $lgrey;
			position: relative;
			overflow: hidden;

			&.event {
				background: lighten($green, 45%);

				&.past {
					background: lighten($orange, 35%);
				}
			}

			&__num {
				position: absolute;
				font-weight: 600;
				font-size: 1em;
				top: 5px;
				right: 5px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;		
				.today & {
					color: $orange;
				}		
			}
			&.adjacent-month {
				color: $dgrey !important;
				background: #f1f1f1 !important;
			}		
			&.today {
				border-color: $orange;
				&::after {
					display: block;
					content: '';
					position: absolute;
					bottom: 5px;
					right: 5px;
					width: $main-pad;
					height: $main-pad;
					background: $orange;
					border-radius: 50%;
				}
			}	
		}

		&__event {			
			font-size: .7em;
			padding: 10px 5px;
			line-height: 14px;

			&__time {
				font-weight: 400;
				margin-bottom: 8px;
				margin-top: 3px;
				line-height: 1;
				padding-right: 20px;
			}

			&__tags {
				font-weight: 200;
				font-weight: .9;
				margin-bottom: 8px;
			}

			&__title {
				font-weight: 600;
				letter-spacing: .5px;
				a {					
					@include link-color($black, $orange);
				}
			}
		}
	}

	.event-grid {
		&__item {

			@include respond-to-min(xxl) {
				width: 20%;
				&:nth-child(5n+1) {
					&::before {
						background: none;
					}
				}
			}

			@include respond-to-max(xxl) {
				width: 25%;
				&::before {
					content: '';
					background: $lgrey;
				}
				&:nth-child(4n+1) {
					&::before {
						background: none;
					}
				}
			}

			@include respond-to-max(xl) {
				width: 33.33333%;

				&::before {
					content: '';
					background: $lgrey ;
				}
				&:nth-child(3n+1) {
					&::before {
						background: none;
					}
				}
			}

			@include respond-to-max(lg) {
				width: 50%;
				&:nth-child(n) {
					&::before {
						content: '';
						background: $lgrey ;
					}
				}
				&:nth-child(2n+1) {
					&::before {
						content: '';
						background: none;
					}
				}
			}

			@include respond-to-max(xs) {
				width: 100%;
				float: none;

				&::before {
					content: '';
					background: $lgrey !important;
					width: 100%;
					height: 1px;
					margin: auto;
					top: 0;
				}
			}
		}
	}
}