.fc.fc.fc.fc.fc.fc.fc {
	.fc-toolbar.fc-toolbar.fc-toolbar.fc-toolbar {
		.fc-center {
			@include cl;
			display: block;

			h2 {
				padding: $main_pad $main_pad 0 ;
				text-align: center;
				float: none;
			}		
		}
		.fc-left,
		.fc-right {
			@include respond-to-max(xs) {			
				float: none;
				display: block;
				width: 100%;
				height: 50px;

				& > * {
					text-align: center;
					float: none;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	} 
	.fc-scroller {
		height: auto !important;
	}
	.fc-list-item-marker, .fc-list-item-time {
		@include respond-to-max(xs) {			
			white-space: normal;
			line-height: 1;
		}
	}
	.fc-day-grid-event {
		.fc-content {
			white-space: normal;
		}
		.fc-time {
			display: block;
		}
	}
}