.gallery {
	&-item {
		
	}
	&-icon {
		width: auto;
		img {
			width: auto;
			height: 200px;
		}
	}
	.gallery-caption {
		display: none;
	}
	.owl-stage {
		overflow: hidden; 
		margin-top: $main-pad;
		height: 240px;
		padding-bottom: 40px;
	}
	.owl-dots {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 10px;
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
	.owl-next {
		position: absolute;
		right: $main-pad;
		top: 95px;
		box-shadow: 0 0 3px rgba(0,0,0,.7);

		@include respond-to-max(xs) {
			display: none;
		}
	}
	.owl-prev {
		position: absolute;
		left: $main-pad;
		top: 95px;
		box-shadow: 0 0 3px rgba(0,0,0,.7);

		@include respond-to-max(xs) {
			display: none;
		}
	}
}
.owl-carousel .owl-item img {
	width: auto !important;
}