%owl-arrow {
	color: $green;
	display: inline-block;
	position: relative;
	border: 1px solid $white;
	border-radius: 50%;
	margin-left: 7px;
	background: $white;
	font-size: 0;
	font-family: Courier New,Courier,monospace;
	//box-shadow: 0 1px 3px rgba(0,0,0,.7);

	&:hover {			
		color: $yellow;
	}
	&::before,
	&::after {
		position: relative;
		top: -3px;
		width: 40px;
		font-weight: 700;
		font-size: 60px;
		line-height: 40px;
		display: block;
		text-align: center;

		@include respond-to-min(xl) {				
			position: relative;
			top: -3px;
			width: 60px;
			font-weight: 700;
			font-size: 90px;
			line-height: 60px;
			display: block;
			text-align: center;
		}
	}
}

.owl-nav {
	position: absolute;
	bottom: $main_pad;
	right: $main_pad;
}

.owl-next {
	@extend %owl-arrow;
	&::after {
		content: "\0203A";
	}
}
.owl-prev {
	@extend %owl-arrow;
	&::after {
		content: "\02039";
	}
}

.owl-dot {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: transparent;
	border: 2px solid $green;
	margin: 0 2px;
	@include transition-aprel(background)
	&:hover {
		border-color: $yellow;
	}

	&.active {
		background: $yellow;
	}
}