.aprel-post-slider {
	position: relative;
	background-color: #f8f8f8;

	@include respond-to-max(xs) {		
		margin-left: -$main_pad;
		margin-right: -$main_pad;
		width: auto;
	}

	&__progressBar {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: $lgrey;
		opacity: .8;
		z-index: 1;
	}
	&__bar {
		height: 100%;
		background: $green;
	}

	%owl-arrow {
		color: $green;
		display: inline-block;
		position: relative;
		border: 1px solid $white;
		border-radius: 50%;
		margin-left: 7px;
		background: $white;
		font-size: 0;
		font-family: Courier New,Courier,monospace;
		//box-shadow: 0 1px 3px rgba(0,0,0,.7);

		&:hover {			
			color: $yellow;
		}
		&::before,
		&::after {
			position: relative;
			top: -3px;
			width: 40px;
			font-weight: 700;
			font-size: 60px;
			line-height: 40px;
			display: block;
			text-align: center;

			@include respond-to-min(xl) {				
				position: relative;
				top: -3px;
				width: 60px;
				font-weight: 700;
				font-size: 90px;
				line-height: 60px;
				display: block;
				text-align: center;
			}
		}
	}

	.owl-nav {
		position: absolute;
		bottom: $main_pad *2;
		right: $main_pad;
	}

	.owl-next {
		@extend %owl-arrow;
		&::after {
			content: "\0203A";
		}
	}
	.owl-prev {
		@extend %owl-arrow;
		&::after {
			content: "\02039";
		}
	}

	.owl-dots {
		display: block;
		position: absolute;
		bottom: -30px;
		left: 0;
		right: 0;
		text-align: center;
		margin: auto;
	}
}

.aprel-post-slider-item {
	background-size: cover;
	background-position: center; 
	color: $white;

	header {
		padding: $main_pad 33% $main_pad $main_pad;
		width: 100%;
		height: 350px;
		text-shadow: 0 0 3px rgba(0,0,0,.5);

		@include gradient-linear(to right, rgba(40,40,40,.4), rgba(40,40,40,.0));
		@include respond-to-max(sm) {			
			padding: $main_pad;
		}

		h2 {
			@include respond-to(xs) {
				font-size: 24px;
				line-height: 1.2;
				margin-top: 0;
			}
			@include respond-to-min(xl) {
				font-size: 2em;
				line-height: 1.2;
			}
		}
	}
	.entry-title {
		margin-bottom: 10px;
	}
	a {
		text-decoration: none;
		color: inherit !important;

		&:hover {
			color: $yellow;
		}
	}

	&__btn {
		position: absolute;
		bottom: $main_pad *2;
		margin: 0;
		left: $main_pad;
		transform: translateY(-2px);

		@include respond-to(xs) {
			display: none;
		}
	}
}
