
.body-preloader {
	opacity: 0;
	@include transition-aprel(opacity);
	body.preload & {
		width: 100%;
		height: 100%;
		background: white;
		position: absolute;
		left: 0;
		right: 0;
		opacity: 1;
	}
}