html {
	height:100%;
}
body {
	min-height: 100%;
}

body {
	position: relative;
	background: $white;
	min-height: 100%;
	border-right: $body_pad solid $yellow;
	border-left: $body_pad solid $yellow;
	font-family: 'Fira Sans', sans-serif;
	font-size: $main-fz;

	@include respond-to(sm) {		
		border: $body_pad-sm solid $yellow;
	}

	@include respond-to(xs) {		
		border: $body_pad-xs solid $yellow;
	}

	&::after,
	&::before {		
		content: '';
		height: $body_pad;
		background: $yellow;
		position: fixed;
		width: 100%;
		left: 0;
		z-index: $body-pseudo-z;

		@include respond-to-max(sm) {				
			display: none;			
		}
	}

	&::after {
		bottom: 0;
	}
	&::before {	
		top: 0;
	}
	&.admin-bar {
		&::before {
			top: 32px;
		}
		#wpadminbar {				
			@include respond-to-max(xs) {
				top: -46px - $body_pad-xs;
			}
		}
	}
}
.site {
	padding: 0 $sidebar-m-w;
	margin: $body_pad 0;
	background: $white;
	position: relative;
	min-height: 100%;
	opacity: 1;
	@include transition-aprel(opacity .7s linear);

	body.preload & {
		opacity: 0;
	}

	@include respond-to-min(xxl) {
		padding: 0 $sidebar-xl-w;
	}
	@include respond-to-max(md) {		
		padding-right: 0;
		padding-left: 0;
	}
	@include respond-to(sm) {
		margin: $body_pad-sm 0;
		padding-left: 0;
		padding-right: 0;
	}
	@include respond-to(xs) {
		margin: $body_pad-xs 0;
		padding-left: 0;
		padding-right: 0;
	}
}
img {
	max-width: 100%;
}


// Helpers
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: bold;
}

h1, h1 {
	@include respond-to-max(sm) {
		font-size: 28px;
	}
}

ul, ol {
	padding-left: $main_pad * 2;
	list-style-type: circle
}

.hidden_tooltip {
	display: none;
}

.has-transition {
  @include transition-aprel(all .6s cubic-bezier(0.86, 0, 0.07, 1));
  & * {
  	@include transition-aprel(all .6s cubic-bezier(0.86, 0, 0.07, 1));  	
  }
}

a {
	@include transition-aprel(color .2s ease);
}


/* Form */
.required {
	color: $orange;
}

.form-disclaimer {
	color: $dgrey;
	font-size: .8em;
	line-height: 1;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	@extend .form-control;
	box-shadow: none !important;

	&:focus {
		border-color: $orange;
		box-shadow: none !important;
	}
}