@mixin cl {
	&::after,
	&::before {
		content: '';
		clear: both;
    display: block;
	}
}

@mixin dash-above($color: $dgrey, $margin: $main-pad) {
  position: relative;
  margin-top: $margin;
  &::before {
    content: '';
    position: absolute;
    top: $margin *-.5;
    width: 45px;
    left: 0;
    height: 2px;
    background: $color;
  }
}
@mixin dash-below($color: $dgrey, $margin: $main-pad) {
  position: relative;
  margin-bottom: $margin;
  &::after {
    content: '';
    position: absolute;
    bottom: $margin *-.5;
    width: 45px;
    left: 0;
    height: 2px;
    background: $color;
  }
}

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-xs + 1) and (max-width: $screen-sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-sm + 1) and (max-width: $screen-md) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-md + 1) and (max-width: $screen-lg) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $screen-lg + 1) and (max-width: $screen-xl) { @content; }
  }
  @else if $media == xxl {
    @media only screen and (min-width: $screen-xl + 1) and (max-width: $screen-xxl) { @content; }
  }
  @else if $media == xxxl {
    @media only screen and (min-width: $screen-xxl + 1) { @content; }
  }
}
@mixin respond-to-min($media) {
  @if $media == xs {
    @media only screen and (min-width: $screen-xs + 1) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-sm + 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-md + 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg + 1) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $screen-xl + 1) { @content; }
  }
  @else if $media == xxl {
    @media only screen and (min-width: $screen-xxl + 1) { @content; }
  }
  @else if $media == xxxl {
    @media only screen and (min-width: $screen-xxxl + 1) { @content; }
  }
}
@mixin respond-to-max($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $screen-sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $screen-md) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $screen-lg) { @content; }
  }
  @else if $media == xl {
    @media only screen and (max-width: $screen-xl) { @content; }
  }
  @else if $media == xxl {
    @media only screen and (max-width: $screen-xxl) { @content; }
  }
  @else if $media == xxxl {
    @media only screen and (max-width: $screen-xxxl) { @content; }
  }
}

/*------------------------------------------------------------
 * Mixins
 *------------------------------------------------------------*/

@mixin border-radius( $size: 3px ) {
	// -webkit-border-radius: $size;
	   // -moz-border-radius: $size;
		    border-radius: $size;
}

@mixin box-shadow ($string: 0 0 3px rgba(0,0,0,.4)) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin box-sizing($val: border-box) {
	box-sizing: $val;
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
}

@mixin placement( $position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0 ) {
	position: $position;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}
@mixin absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}

@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

@mixin link-color($color: $black, $hover: $primary-color) {
	color: $color;

	&:hover {
		color: $hover;
	}
}

@mixin text-shadow($str: 0px 0px 2px rgba(0,0,0,0.4)) {
	text-shadow: $str;
	-webkit-text-shadow: $str;
	-moz-text-shadow: $str;
	-o-text-shadow: $str;
	-ms-text-shadow: $str;
}
@mixin transition-aprel($transitions...) {
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }
  
  -webkit-transition: $unfoldedTransitions;
  transition: $unfoldedTransitions;
}

@function unfoldTransition ($transition) {
  // Default values
  $property: all;
  $duration: .6s;
  $easing: cubic-bezier(0.86, 0, 0.07, 1); // Browser default is ease, which is what we want
  $delay: null; // Browser default is 0, which is what we want
  $defaultProperties: ($property, $duration, $easing, $delay);

  // Grab transition properties if they exist
  $unfoldedTransition: ();
  @for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($transition) {
      $p: nth($transition, $i)
    } @else {
      $p: nth($defaultProperties, $i)
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}


@mixin animation ( $params ) {
	-webkit-animation: $params;
	   // -moz-animation: $params;
	   //   -o-animation: $params;
	        animation: $params;
}

// animation-play-state: paused | running
@mixin animation-play-state ( $params ) {
	-webkit-animation-play-state: $params;
	   // -moz-animation-play-state: $params;
	   //   -o-animation-play-state: $params;
	        animation-play-state: $params;
}

@mixin transform( $params ){
	-webkit-transform: $params;
	   // -moz-transform: $params;
	    -ms-transform: $params;
	     // -o-transform: $params;
	        transform: $params;
}

@mixin translate($x:0,$y:0){
	-webkit-transform: translate($x,$y);
	   // -moz-transform: translate($x,$y);
	    -ms-transform: translate($x,$y);
	     // -o-transform: translate($x,$y);
	        transform: translate($x,$y);
}

@mixin translateX($x:0){
	-webkit-transform: translateX($x);
	   // -moz-transform: translateX($x);
	    -ms-transform: translateX($x);
	     // -o-transform: translateX($x);
	        transform: translateX($x);
}

@mixin translateY($y:0){
	-webkit-transform: translateY($y);
	   // -moz-transform: translateY($y);
	    -ms-transform: translateY($y);
	     // -o-transform: translateY($y);
	        transform: translateY($y);
}
@mixin rotateX($deg:0) {
    -webkit-transform: rotateX($deg); /* Safari */
    transform: rotateX($deg); /* Standard syntax */
}
@mixin rotateZ($deg:0) {
    -webkit-transform: rotateZ($deg); /* Safari */
    transform: rotateZ($deg); /* Standard syntax */
}
@mixin rotateY($deg:0) {
    -webkit-transform: rotateY($deg); /* Safari */
    transform: rotateY($deg); /* Standard syntax */
}
@mixin placeholder($color, $style){
	&::-webkit-input-placeholder { color: $color; font-style: $style; opacity: 1; }
	&:-moz-placeholder           { color: $color; font-style: $style; opacity: 1; }
	&::-moz-placeholder          { color: $color; font-style: $style; opacity: 1; }
	&:-ms-input-placeholder      { color: $color; font-style: $style; opacity: 1; }
}

@mixin gradient-linear ($origin: left, $color_start:#000, $color_end:#000) {
    background-image: -webkit-linear-gradient( $origin, $color_start, $color_end );
    background-image:    -moz-linear-gradient( $origin, $color_start, $color_end );
    background-image:      -o-linear-gradient( $origin, $color_start, $color_end );
    background-image:     -ms-linear-gradient( $origin, $color_start, $color_end );
    background-image:         linear-gradient( $origin, $color_start, $color_end );
}

@mixin gradient-radial-highlight($opacity:0.3) {
	// background-image:-moz-radial-gradient(50% 50%,circle closest-corner,rgba(255,255,255,$opacity) 0%,rgba(255,255,255,0) 100%);
	background-image:-webkit-gradient(radial,50% 50%,0,50% 50%,75,color-stop(0, rgba(255,255,255,$opacity)),color-stop(1, rgba(255,255,255,0)));
	background-image:-webkit-radial-gradient(50% 50%,circle closest-corner, rgba(255,255,255,$opacity) 0%,rgba(255,255,255,0) 100%);
	background-image:radial-gradient(50% 50%,circle closest-corner, rgba(255,255,255,$opacity) 0%,rgba(255,255,255,0) 100%);
}

@mixin grayscale( $value:100% ) {
	filter: gray; /* IE 6-9 */
	-webkit-filter: grayscale($value);
	filter: grayscale($value);
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

@mixin line-before {
	position: relative;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: '';
		height: 1px;
		width: 90%;
		margin: 0 auto;
		background: #000;
		opacity: .2;
	}
}

@mixin line-after {
	position: relative;
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 1px;
		width: 90%;
		margin: 0 auto;
		background: #000;
		opacity: .2;
	}
}