.hide-xs {
	@include respond-to-max(xs) {
		display: none !important;
	}
}
.hide-sm {
	@include respond-to-max(sm) {
		display: none !important;
	}
}
.hide-md {
	@include respond-to-max(md) {
		display: none !important;
	}
}
.hide-lg {
	@include respond-to(lg) {
		display: none !important;
	}
}
.hide-xl {
	@include respond-to-min(xl) {
		display: none !important;
	}
}
.hide-xxl {
	@include respond-to-min(xxl) {
		display: none !important;
	}
}
.hide-xxxl {
	@include respond-to-min(xxxl) {
		display: none !important;
	}
}


.hide-min-lg {	
	@include respond-to-min(lg) {
		display: none !important;
	}
}

.hide-min-md {	
	@include respond-to-min(md) {
		display: none !important;
	}
}