// Fonts
$main-fz: 18px;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    0;

// Colors
$brand-primary: #E85433;
$main: #D8244C;
$accent: $brand-primary;
$yellow: #FAB900;
$orange: $brand-primary;
$green: #88BC24;
$lgrey: #ddd;
$dgrey: #777;

$white: #fff;
$black: #333;

// z-indexes
$service-toggler-z: 1;
$body-pseudo-z: 6;
$bubble-bg-z: 1;
$bubble-data-z: 2;
$right-sidebar-md: 2;

// Layout
$sidebar-m-w: 225px; // 992 - 1600
$sidebar-xl-w: 320px; // 1600 - inf


$main-padding: 15px;
$main_pad: $main-padding;
$body_pad: 20px;
$body_pad-sm: 15px;
$body_pad-xs: 5px;
$border-radius: 20px;

$top-banner-h: 120px; 

$mobile-header-h-sm: 180px;
$mobile-header-h-xs: 150px;

// X-Large screen / wide desktop
$screen-xl:                  1600px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;


// XX-Large screen / wide desktop
$screen-xxl:                  1920px !default;
$screen-xxl-min:              $screen-xxl !default;
$screen-xxl-desktop:          $screen-xxl-min !default;


// XX-Large screen / wide desktop
$screen-xxxl:                  2560px !default;
$screen-xxxl-min:              $screen-xxxl !default;
$screen-xxxl-desktop:          $screen-xxxl-min !default;