.error404 {
	.page-header {
		border-top:  1px solid #eee;
		border-bottom: none;
		margin: 0;
		padding: 0;
	}
	h1 {
		font-size: 1.3em;		
		text-align: center;
		font-weight: 400;
	}
} 

.error-404 {
	text-align: center;
	
	&__text {
		font-size: 1.3em;
	}
	&__nums {
		font-size: 6em;
		line-height: 1.1;
		color: $lgrey;
	}
}