.site-footer {
	border-top: 1px solid $lgrey;
	margin-top: $main-pad * 2;
	.copyright {
		padding: $main-pad 0 $main-pad $main-pad *4;
		margin: $main-pad 0;
		height: 80px;
		color: #aaa;
		background-image: url(/wp-content/themes/aprel/dist/images/logo_gr_min_new.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
	}
}