// Nav primary
.nav-primary {
	.soc-btns {
		display: none;
		@include respond-to-max(xs) {
			display: block;
			padding: 0 $body_pad-sm $body_pad-sm ;
			text-align: center;
			font-size: 0;
		}

		.soc-links{
			&__item {
				font-size: 15px;
				display: block;
				width: 126px;
				margin: 5px auto;

				h5,
				&__description {
					@include respond-to-max(sm) {
						display: none;
					}
				}
			}
		}
	}
	
	.menu-item {
		display: inline-block;
		@include respond-to-min(md) {				
			padding: $main_pad $main_pad*2 $main_pad 0;			
		}

		a {
			@include respond-to-min(md) {				
				padding: 0;			
			}
		}
	}

	&__extra-bottom-menu {
		display: none;
		@include respond-to-max(xs) {
			display: block;
			position: relative;			
			@include line-before;

			.menu-item {
				width: 100%;
			}
		}
	}
}

.mobile-menu-holder {
	@include respond-to-max(md) {
		padding-left: 0;
		padding-right: 0;
	}
}