.nav-small-screen {
	width: 100%;
	margin-top: $main_pad *2;
	padding: $main_pad 0;
	position: relative;
	@include line-before;
	@include respond-to-max(sm) {		
		margin-top: $main_pad;
		padding: $main_pad /2;
	}
	.menu {
		&-item {
			position: relative;
			display: inline-block;
			width: auto;
			float: none;
			i._before {
				@include respond-to-max(sm) {
					margin: 0 .25em;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -$main_pad;
				left: 0;
				right: 0;
				margin: 0 auto;
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0;
				border-color: transparent transparent $lgrey transparent;
				@include transition-aprel(border-width 0.7s);
			}
			&-active::after {
				border-width: 0 10px 17.3px 10px;
				@include respond-to-max(xs) {					
					border-width: 0 14px 24.2px 14px;
				}
			}

			a {
				padding: 0;
			}
		}
	}

	ul {
		display: inline-block;
		display: flex;
		justify-content: space-between;
	}
}


.nav-tablet {
	float: left;
	@include respond-to-min(md) {
		display: none;
	}
}