$md-team-member-size: 120px;
$xl-team-member-size: 210px;
$excerpt-h: 220px;
$excerpt-h_sm: 300px;


.our-team-block {
	text-align: center;
	font-size: 0px;

	&_active {

	}
}

.team-member {
	display: inline-block;
	vertical-align: top;
	font-size: $main-fz;
	text-align: center;
	padding: $main-pad;
	
	@include transition-aprel(opacity, margin);

	@include respond-to-max(sm) {
		width: 50%;
	}

	@include respond-to-max(xs) {
		width: 100%;
	}


	/* Modificators */

	.our-team-block_active & {
		opacity: .5;

		&:hover {
			opacity: 1;
		}
	}

	&_active {
		margin-bottom: $excerpt-h + $main-pad * 2;
		@include respond-to-max(sm) {
			margin-bottom: $excerpt-h_sm + $main-pad * 2;
		}

		.our-team-block_active & {
			opacity: 1;
		}
	}


	/* Childs	 */
	&__img {
		border-radius: 50%;
		width: $md-team-member-size;
		height: $md-team-member-size;
		margin: $main-pad auto;
		background-position: top center;
		background-size: cover;
		cursor: pointer;
		border: 4px solid $yellow;

		@include respond-to-max(sm) {			
			width: 210px;
			height: 210px;
		}

		@include respond-to-min(xl) {			
			width: $xl-team-member-size *.9;
			height: $xl-team-member-size *.9;
		}

	}


	&__name {
		text-align: center;
		font-size: $main-fz;
		max-width: $md-team-member-size;
		margin-left: auto;
		margin-right: auto;
		position: relative;		
		cursor: pointer;
		min-height: 35px; //dirty fix
		@include link-color($black, $orange);

		@include respond-to-max(sm) {			
			max-width: $xl-team-member-size;
			font-size: $main-fz;
		}

		@include respond-to-min(xl) {			
			max-width: $xl-team-member-size;
			font-size: $main-fz;
		}

		/* Modificators */
		&::after {
			content: "";
			position: absolute;
			bottom: -40px;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0;
			opacity: 0;
			border-color: transparent transparent $yellow transparent;
			@include transition-aprel(border-width, opacity);
		}
		.team-member_active &::after {
			border-width: 0 20px 34.6px 20px;
			opacity: 1;
		}
	}

	&__excerpt {
		max-height: 0;
		left: 0;
		right: 0;
		margin: $main-pad auto 0;
		text-align: left;
		padding: 0 $main-pad;
		opacity: 0;
		position: absolute;
		width: 100%;
		color: $black;
		background: $yellow;
		border-radius: $border-radius;
		height: $excerpt-h;
		overflow: hidden;
		cursor: text;
		@include transition-aprel(max-height, padding, opacity);

		@include respond-to-max(sm) {			
			border-left: $main-pad solid $white;
			border-right: $main-pad solid $white;
			border-radius: 0;
			height: $excerpt-h_sm;
		}

		/* Modificators */
		.team-member_active & {
			padding: $main-pad;
			max-height: $excerpt-h;
			opacity: 1;

			@include respond-to-max(sm) {		
				height: $excerpt-h_sm;
				max-height: $excerpt-h_sm;
			}
		}

		/* Childs */
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: $main-pad*4;
			bottom: 0px;
			left: 0;
			background: $yellow;
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: $main-pad*2;
			bottom: $main-pad*4;
			left: 0;
			@include gradient-linear(to top, $yellow, rgba($yellow, 0));
		}

		.js-team-member__close-excerpt {
			position: absolute;
			width: 20px;
			height: 20px;
			font-size: 20px;
			line-height: 20px;
			text-align: center;
			top: 10px;
			right: 10px;
			opacity: 1;
			cursor: pointer;
			@include link-color($black, $orange);
			@include transition-aprel(color);

			.dashicons {
		    font-size: inherit;
		    width: 100%;
		    height: 100%;
		    line-height: inherit;
		  }
		}
	}
	&__soc-links {
		display: none;
		margin-bottom: $main-pad /2;

		&__item {
			@include link-color($orange, $dgrey);
			font-size: 20px;
			text-decoration: none !important;
			display: inline-block;
			line-height: 35px;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background: $white;
			position: relative;
			text-align: center;
			margin-right: 5px;
			&::before {
				line-height: inherit;
				margin: auto;
			}
		}
	}
	&__link {
		position: absolute;
		bottom: $main-pad;
		right: $main-pad;
		@include link-color(lighten($black, 10%), darken($yellow, 20%));
		z-index: 2;
		font-size: .9em;
		&::before {
			content: '';
			width: $main-pad*3;
			position: absolute;
			top: -10px;
			left: 0;
			height: 2px;
			background: $white;
		}
	}
}