.sidebar-left {
	@extend %sidebar;
	left: $body_pad;
	margin-right: 0;	
	@include respond-to-min(md) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@include respond-to-max(md) {
		left: 0;
		width: 100%;
		padding: $main_pad 0 0 0;
	}

	&__logo {
		margin-top: $sidebar-m-w / 5;
		max-width: 100%;
		position: relative;
		@include respond-to-max(md) {		
			height: 100%;	
			margin-top: 0;
			width: 50%;
			float: left;
			padding: 0 $main_pad;
		}
		@include respond-to(xs) {		
			height: 100%;	
			margin-top: 0;
			width: 100%;
			float: none;
			padding: 0 $main_pad;
		}

		&__desktop {
			max-width: 80%;
			@include respond-to-max(md) {	
				display: none;
			}
		}
		&__mobile {
			width: 85%;
			@include respond-to-min(md) {	
				display: none;
			}
		}
	}
	&__social {
		@include respond-to-max(md) {
			width: 50%;
			float: left;
			text-align: right;
			padding: 0 $main_pad;
			font-size: 0;
		}
		@include respond-to(xs) {
			display: none;
		}
		.soc-links {
			&__item {
				@include respond-to-min(md) {					
					width: 126px;
					margin: 10px auto;
					color: $white;
					box-sizing: content-box;
					border-radius: 15px;
					padding: 20px 10px 15px;
				}

				@include respond-to-max(md) {		
					width: 126px;
					margin: 5px;
					font-size: 0;
					display: inline-block;
					vertical-align: top;
				}

				&.facebook-badge {
					@include respond-to-min(md) {
						background: #fcb814;
					}
				}
				&.google-play-badge {
					@include respond-to-min(md) {
						background: $orange;
					}
				}

				&__description {
					font-size: 12px;
					line-height: 1.2;
					font-weight: 200;
					text-transform: uppercase;
					text-align: left;
					margin-bottom: 10px;

					@include respond-to-max(md) {
						display: none;
					}
				}

				h5 {
					font-size: 14px;
					line-height: 1.1;
					margin-top: 0;
					font-weight: 200;
					text-transform: uppercase;
					text-align: left;

					@include respond-to-max(md) {
						display: none;
					}
				}
			}			
		}
	}
}
